# 忽略所有文件
*
# 不忽略目录
!*/

×*/
×*
.ipynb_checkpoints
wandb/
Untitled*
checkpoint-*/

!*.py
!*.ipynb
!*.txt
!*.md
!*.sh
!.gitignore
!*.cfg
!*.yaml
!*.slurm

*vocab.txt
*slurm*
*ali*
*114*
README.md
hallucinated_ids.txt
ok_ids.txt
log.txt
predict_results.txt
try*
*_submission.sh                                                                                                                 
.submission_file*.sh
Untitled*
old_*
old_*/
HLM/
logs/
figures/
outputs/
/MUC/
__pycache__
.ipynb_checkpoints
archived
qa-eval-results/
activation-cache
.DS_Store
analysis.ipynb
best.ipynb
*/scripts/*2.*
LUF